.CardDay {
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding:20px;
	color: #8E8E8E;
}

.CardDay:hover {
	background: linear-gradient(to right, #56CCF2 0%, #2F80ED 100%);
	color:#FFF;
}

.CardDay p, .temp {
	margin: 0;
	font-size: 20px;
	font-weight: 700;
}

.CardDay .weather {
	display:flex;
	align-items: center;
}

.icon {
	font-family: 'weathericons';
	font-size: 26px;
	margin-left:1em;
}

.temp {
	font-weight: 700;
}