.nav {
	padding: 20px;
	display:flex;
	align-items: center;
	justify-content: space-between;
	background-color: #FFF;
}

.navigation {
	display:flex;
}

.nav i {
	font-size: 36px;
	color: #2F80ED;
}

.nav .logo {
	margin-right: 2em;
}