.search {
	padding:1em;
	border:none;
	border-radius: 4px;
	background: rgba(255,255,255,0.5);
	color: #8E8E8E;
	margin:0 0 0 0;
	font-family: 'Nunito';
	border: 2px solid #2F80ED;
}

.search:focus, .search:active {
	outline: none;
}